body {
    padding: 70px;
    @include breakpoint(tablet){
      padding: 25px;
    }
}

.sia-logo {
    text-align: center;
    img {
        width: 170px;
        margin: 0 auto;
    }
}

.container-list {}

.content {
    padding: 50px 0;
    img {
        width: 100%;
    }
}

footer {
    text-align: center;
    p{
      font-size: 14px;
    }
    .footer-sia {
        img {
            width: 100px;
        }
    }
}

.post-header {
  text-align: center;
}
