<footer id="site-footer">
    <div class="container">
      <div class="footer-sia">
        <img src="/images/sia_logo.svg" alt="She Is Awesome (SiA) Logo" />
      </div>
      {{ with .Site.Params.instagram }}
        <a href="https://www.instagram.com/{{ . }}/" title="Instagram" target="_blank"><span class="tooltip"><i class="fa fa-instagram"></i></span></a>
      {{ end }}
      {{ with .Site.Params.twitter_name }}
        <a href="https://www.twitter.com/{{ . }}" title="Twitter" target="_blank"><span class="tooltip"><i class="fa fa-twitter"></i></span></a>
      {{ end }}
      {{ with .Site.Params.facebook }}
        <a href="https://www.facebook.com/{{ . }}" title="Facebook" target="_blank"><span class="tooltip"><i class="fa fa-facebook"></i></span></a>
      {{ end }}
      {{ with .Site.Params.github }}
        <a href="https://www.github.com/{{ . }}" title="GitHub" target="_blank"><span class="tooltip"><i class="fa fa-github"></i></span></a>
      {{ end }}
      <p>Copyright &copy; 2018 <a href="https://www.skcript.com/" target="_blank">Skcript Technologies Pvt. Ltd.</a></p>
    </div>
</footer>
